/*
Author: Ryan Hendrickson
Date: February 4th, 2019.
Filename: py_theory.css
Purpose: Make the Pythagorean Theorem assignment look a bit less ugly.
*/

@font-face {
	font-family: openSans;
	src: url(OpenSans-Regular.ttf);
}

@font-face {
	font-family: millGoudy;
	src: url(SortsMillGoudy-Regular.ttf);
}

html {
	background-color: #042037;
}

a {
	align-content: center;
	color: white;
	display: inline-flex;
	padding: 2em 1em;
}

a:hover {
	text-decoration: none;
}

body {
	max-width: 640px;
	margin: auto;
}

button {
	margin: 0 0.25em;
}

fieldset {
	background-image: linear-gradient(to bottom right, #003A23, #489174);
	border-radius: 10px;
	color: white;
	display: flex;
	width: 350px;
}

h1 {
	color: white;
	font-family: millGoudy, serif;
	font-size: 3em;
	margin: 0.25em auto;
	text-decoration: underline;
}

img {
	margin: 0.5em 0;
}

input {
	margin: 0.25em 0;
	margin-left: 0.5em;
	width: 5em;
}

label {
	font-family: millGoudy, serif;
	font-size: 1.25em;
	margin-left: 0.3em;
}

legend {
	font-family: millGoudy, serif;
	font-size: 1.75em;
	margin-bottom: 0.25em;
}

p {
	color: white;
	font-family: openSans, sans-serif;
	font-size: 1.5em;
	margin-top: 1em;
}

#b {

}
#disclaimer {
	color: #999;
	font-size: 1.25em;
}

#output {
	background-color: #042037;
	color: white;
	font-size: 1.25em;
	height: 1.5em;
}
